<div class="box">

  <div class="text-box">

    <h1>PROJETOS</h1>
    <hr style='border-bottom:2px solid #35b729;width: 70%; margin: -1em 2em; margin-bottom: 5em;'>

    <p> Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's
      standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a
      type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting
    </p>
    
    </div>

  <div class="carrossel">
    <carousel >
      <slide>
        <img id="carrossel-img" src="https://media.discordapp.net/attachments/722127821886980097/729677566067343360/unknown.png?width=729&height=398" alt="first slide" style="display: block; width: 100%;">
        <div class="carousel-caption d-none d-md-block">
          <div id="carrossel-text">
            <h3>BrInfinity</h3>
            <p>esse é um dos sistemas que fizemos, ele é o sistema principal de uma empresa de acessorias de seguros, conta com cadastro de seguradoras, corretoras de seguradoras e seus respectivos funcionarios, o cadastro também tem upload de arquivos, filtros personalizados e download de csv.</p>
          </div>
        </div>
      </slide>
      <slide>
        <img id="carrossel-img" src="https://media.discordapp.net/attachments/722127821886980097/729681978940588152/unknown.png?width=729&height=397" alt="second slide" style="display: block; width: 100%;">
        <div class="carousel-caption d-none d-md-block">
          <div id="carrossel-text">
            <h3>Anjos Help</h3>
            <p>MainFrame de um metabuscador, com cadastro de profissional e troca de foto de perfil.</p>
          </div>
        </div>
      </slide>
      <slide>
        <img id="carrossel-img" src="https://media.discordapp.net/attachments/722127821886980097/729681978940588152/unknown.png?width=729&height=397" alt="third slide" style="display: block; width: 100%;">
        <div class="carousel-caption d-none d-md-block">
          <div id="carrossel-text">
            <h3>First slide label</h3>
            <p>Nulla vitae elit libero, a pharetra augue mollis interdum.</p>
          </div>
        </div>
      </slide>
    </carousel>
  </div>


 
</div>