<div class=header>
    <div class=wrapper>

        <img src="../../../assets/images/logo.png">
        
        <div class=header-links>
            <a class="hoverlink" routerLink="/" routerLinkActive="active">Home </a>
            <a class="hoverlink" routerLink="/about" routerLinkActive="active">About us </a>
            <a class="hoverlink" routerLink="/projects" routerLinkActive="active">Posts </a>
            <a class="hoverlink" routerLink="/posts" routerLinkActive="active" >Projects </a>
        </div>

    </div>
    
</div>
