.header{
    height: 4em;
    width: 100%;

    top: 0;
    z-index: 9999;
    border-bottom: 3px solid black;
    
}

.wrapper {
    width: 1200px;
    margin:  auto;
    padding: 0.4em;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header img{
    width: 200px;
    height: 50px;
}

.header a {
    margin: 5px;
    color: gray;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    font-size: 18px;
    line-height: 40px;

}

.hoverlink:hover {
border-bottom: 2px solid black;
}