<div class="container">
    <div style="text-align:center">
      <h2>Entre em contato</h2>
      <p>Caso você tenha ideias e queira fazer um orçamento:</p>
    </div>
    <div class="row">
      <div class="column">
        <img src="https://lh3.googleusercontent.com/proxy/HYAF9I1TGG8-lA76LKAi2Qa_vgcLUpvOrEtbvU9Br6z6yMK3L1nf9YGgqc7x14swYpE219D20k2H_QDaB6KIU1Hm2TYQ0GSSsSmF1-yUABctjyuVUukL2f3xH75i2iz7SEcjt_jCsxCsXkcxYroVxeQwaiA9Vl-_ARO6ehwpUxvGokTjG2JSgASRxiz2We9y" style="width:100%">
      </div>
      <div class="column">
        <form action="/action_page.php">
          <label for="fname">Identificação</label>
          <input type="text" id="fname" name="firstname" placeholder="Your name..">
          <label for="lname">Assunto</label>
          <input type="text" id="lname" name="lastname" placeholder="Your last name..">

          <label for="subject">Subject</label>
          <textarea id="subject" name="subject" placeholder="Write something.." style="height:170px"></textarea>
          <input type="submit" value="Submit">
        </form>
      </div>
    </div>
  </div>