<div class="container">

  <div class="row">
    <div class="column">
      <div>
        <h2 style="text-align: center;">Contato</h2>

        <p>
              Precisa de informação extra ou quer tirar alguma dúvida sobre desenvolvimento de software? É só enviar mensagem
        pelo abaixo. Retornaremos em seguida, por e-mail ou telefone.
        </p>
        
        <li>Endereço: <span>Rua Francesco Botticini, 383, Aririu, Palhoça-SC. </span></li>
        <li>Whatsapp: <span>(48) 999365113</span></li>
        <li>Email: <span> contato@techsoft.com</span></li>
      </div>
    </div>
    <div class="column">
      <form action="/action_page.php">
        <input type="text" id="assunto" name="Nome..." placeholder="Nome...">
        <input type="text" id="email" name="Email..." placeholder="Email...">
        <input type="text" id="lname" name="Assunto" placeholder="Assunto...">
        <textarea id="subject" name="subject" placeholder="Conte sua ideia..." style="height:170px"></textarea>
        <input type="submit" value="Enviar">
      </form>
    </div>
  </div>
</div>