* {
    box-sizing: border-box;
    text-align: left;
  }
  
  /* Style inputs */
  input[type=text], select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #35b729;
    border-radius: 5px;
    margin-top: 6px;
    margin-bottom: 16px;

    resize: vertical;
  }
  
  input[type=submit] {
    border-radius: 5px;
    background-color: #35b729;
    color: white;
    padding: 12px 20px;
    border: none;
    cursor: pointer;
    margin: 0 auto;
  
  }
  
  input[type=submit]:hover {
    background-color: #45a049;
  }
  
  /* Style the container/contact section */
  .container {
    border-radius: 5px;
    padding: 10px;
  }

  .container li{
    padding-top: 0.2em;
    font-size: 1em;
    list-style: none;
  }

  .container li::before {
  content: "\2022";  /* Add content: \2022 is the CSS Code/unicode for a bullet */
  color: #35b729; /* Change the color */
  font-weight: 1000; /* If you want it to be bold */
  display: inline-block; /* Needed to add space between the bullet and the text */
  width: 1.5em; /* Also needed for space (tweak if needed) */
  margin-left: -1em; /* Also needed for space (tweak if needed) */
  }

  .container img {
    width: 500px;
    height: 320px;
    border-radius: 10px;
    border: 1px solid #45a049;
  }
  
  /* Create two columns that float next to eachother */
  .column {
    float: left;
    width: 50%;
    margin-top: 6px;
    padding: 20px;
  }
  
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  
  /* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */
  @media screen and (max-width: 600px) {
    .column, input[type=submit] {
      width: 100%;
      margin-top: 0;
      margin-left: 0;
    }
  }