.header{
    height: 4em;
    width: 100%;

    position: fixed;
    top: 0;
    z-index: 9999;

    display: flex;
    justify-content: space-between;
    align-items: center;

    background-color: rgba(0,0,0, .5);

    border-bottom: 3px solid #6DD5FA;
}

.header img{
    width: 200px;
    height: 50px;
}

.header a {
    margin: 5px;
    color: white;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    font-size: 18px;
    line-height: 40px;
}