<div class=header>
    <img src="https://previews.123rf.com/images/urfandadashov/urfandadashov1808/urfandadashov180819834/108440620-pc-vector-icon-isolated-on-transparent-background-pc-logo-concept.jpg">
    
    <div class=header-links>
        <a  routerLink="/" routerLinkActive="active">Home </a>
        <a  routerLink="/about" routerLinkActive="active">About us </a>
        <a  routerLink="/projects" routerLinkActive="active">Posts </a>
        <a  routerLink="/posts" routerLinkActive="active" >Projects </a>
    </div>
    
</div>
