<div class="demo box" [ngStyle]="{'height':'45em'}">
   <div class="content">
      <div id="large-header" class="large-header">
         <canvas id="demo-canvas"></canvas>

         <div id="conteudo">
            <h1 id="title-font" class="main-title"><span class="icon-quadra"></span><span class="mls"> </span>{{title}} </h1>
            <h2 class="main-title">
                    Ainda assim, existem dúvidas a respeito de como o novo modelo estrutural aqui preconizado desafia a capacidade de equalização do sistema de participação geral.
               Por outro lado, a complexidade dos estudos efetuados faz parte de um processo de gerenciamento do impacto na agilidade decisória.
               Nunca é demais lembrar o peso e o significado destes problemas, uma vez que a expansão dos mercados mundiais pode nos levar a considerar
               a reestruturação do sistema de formação de quadros que corresponde às necessidades. Neste sentido, o desenvolvimento contínuo de distintas
               formas de atuação cumpre um papel essencial na formulação das posturas dos órgãos dirigentes com relação às suas atribuições.
               Caros amigos, a valorização de fatores subjetivos talvez venha a ressaltar a relatividade das novas proposições'"</h2>
         </div>

      </div>
   </div>
</div>