<div class="demo box" [ngStyle]="{'height':'45em'}">
   <div class="content">
      <div id="large-header" class="large-header">
         <canvas id="demo-canvas"></canvas>

         <div id="conteudo">
            <h1 id="title-font" class="main-title"><span class="icon-quadra"></span><span class="mls"> </span>{{title}} </h1>
            <h2 class="main-title">
               <li>
                  Focamos nosso trabalho no desenvolvimento de soluções digitais inteligentes, proporcionando uma gama de ferramentas e softwares completos!
               </li>
               <li>
                  Você tem a ideia, nós temos a solução<em style="color: #35b729;font-weight: 500;font-size: 1.2em;">!</em>
               </li>
            </h2>
         </div>

      </div>
   </div>
</div>
