.jumbotron{
    border-radius: 10px;
    border: 2px solid black;
    padding: 2em;
}

.box {
    display: flex;
    justify-content: center;
    height: 50px;
}

.container span {
    font-size: 2.3em;
}

.container h1 {
    text-align: center;
    color: #000000e0;
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
    font-size: 3em;
    font-weight: 450;
    line-height: 40px; margin: 0 30px 40px;
    text-align: center;
    text-shadow: #F9F1E9 -1px -1px;
}

