<div class="demo box" [ngStyle]="{'height':'55em'}">
    <div class="content">
       <div id="large-header" class="large-header">
          <canvas id="demo-canvas"></canvas>
 
          <div id="conteudo">
             <h1 id="title-font" class="main-title"><span class="icon-quadra"></span><span class="mls"> </span>{{title}} </h1>
             <h2 class="main-title"><span class="">
                <li>
                    <em style="color: #35b729;font-weight: 500;font-size: 1.2em;">Nossa</em> equipe traz um conjunto de metodologias e técnicas ágeis para <em style="color: #35b729;font-weight: 500;font-size: 1.2em;">desenvolver</em> a <em style="color: #35b729;font-weight: 500;font-size: 1.2em;">solução</em> certa com base em <em style="color: #35b729;font-weight: 500;font-size: 1.2em;">tecnologia</em> para a realização de seus <em style="color: #35b729;font-weight: 500;font-size: 1.2em;">objetivos</em>.
                </li>
                
                <li>
                    <em style="color: #35b729;font-weight: 500;font-size: 1.2em;">Nós</em> trabalhamos buscando <em style="color: #35b729;font-weight: 500;font-size: 1.2em;">ouvir</em> o cliente sobre suas ideias, propostas e planejamentos, então analisamos a situação proposta e trabalhamos em conjunto com o cliente para encontrar o quadro de <em style="color: #35b729;font-weight: 500;font-size: 1.2em;">soluções</em> mais eficaz para a situação.
                </li>

                <li>
                    <em style="color: #35b729;font-weight: 500;font-size: 1.2em;">Especializados</em> em entregar softwares completos que fornecem ferramentas
                     para  <em style="color: #35b729;font-weight: 500;font-size: 1.2em;">gerenciar</em> de forma ágil a ideia proposta,
                     com capacidade de <em style="color: #35b729;font-weight: 500;font-size: 1.2em;">auxiliar</em> em setores e atividades diversas,
                     <em style="color: #35b729;font-weight: 500;font-size: 1.2em;">otimizando</em> e automatizando os processos diários.
                     Visando sempre ampliar a perspectiva geral do cliente sobre o seu eco-sistema de operação com estatísticas que envolvem todos os procedimentos do sistema com base em dados concretos, garantindo uma <em style="color: #35b729;font-weight: 500;font-size: 1.2em;">solução</em> com maior <em style="color: #35b729;font-weight: 500;font-size: 1.2em;">produção</em> e <em style="color: #35b729;font-weight: 500;font-size: 1.2em;">rendimento</em>.
                </li>    
                
                </span></h2>
          </div>
 
       </div>
    </div>
 </div>