.footer{
    height: 4em;
    width: 100%;
    
    position: static;
    bottom: 0;
    z-index: 9999;

    display: flex;
    justify-content: center;
    align-items: center;
  
    background-color: #45a049;
    border-top:2px solid white;
}

.footer img{
    width: 200px;
    height: 50px;
}

.footer h4{
    text-align: center;
    color: white;
}