

<div class='box'>

    <h1>Services</h1>
    <hr style='border-bottom:1px solid black;width: 70%;margin:auto;'>

    <div class="services-wrapper">
       
        <div class="workbox">
            <i class='icon-computador'></i>
            <h2>Desenvolvimento de landingpages</h2>

            <h4> Sobre...</h4>
            Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting
       
        </div>

        <div class="workbox">
            <i class='icon-seo'></i>.
            <h2>Desenvolvimento de  sistemas web</h2>
            
            <h4> Sobre...</h4>
            Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting
        
        </div>

        <div class="workbox">
            <i class='icon-movel'></i>
            <h2>Desenvolvimento de aplicativos</h2>

            <h4> Sobre...</h4>
            Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting
        
        </div>

        <div class="workbox"> 
            <i class='icon-terceirizacao'></i>
            <h2>Outsourcing</h2>

            <h4> Sobre...</h4>
            <hr>
            Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting
        
        </div>
    </div>

</div>
