<div class='box'>

    <h1><span class="icon-automacao"></span><span class="mls"></span> Serviços</h1>

    <div class="services-wrapper">

        <div class="workbox">
            <i class='icon-computador'></i>

            <li>Desenvolvimento de landingpages</li>
            <p>
                Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
                industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and
                scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap
                into electronic typesetting
            </p>
        </div>

        <div class="workbox">
            <i class='icon-seo'></i>
            <li>Desenvolvimento de sistemas web</li>
            <p>
                Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
                industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and
                scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap
                into electronic typesetting
            </p>
        </div>

        <div class="workbox">
            <i class='icon-movel'></i>
            <li>Desenvolvimento de aplicativos</li>
            <p>
                Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
                industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and
                scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap
                into electronic typesetting
            </p>
        </div>

        <div class="workbox">
            <i class='icon-terceirizacao'></i>
            <li>Outsourcing</li>
            <p>
                Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
                industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and
                scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap
                into electronic typesetting
            </p>

        </div>
    </div>
    <hr style='border-bottom:1px solid #35b729;width: 70%; margin: 0 auto; margin-bottom: 5em;'>

</div>