<div class='box'>

    <h1><span class="icon-automacao"></span><span class="mls"></span> Serviços</h1>

    <div class="services-wrapper">

        <div class="workbox">
            <i class='icon-computador'></i>

            <li>Desenvolvimento de landingpages</li>
            <p>
                <em>A representação ideal para seu negocio na web!</em>
                <br><br/>
                <em>Nossa</em> equipe foca em identificar o <em>perfil</em> e a <em>personalidade</em> da empresa e então começa o processo <em>criativo</em>. Todos os procedimentos de <em>desenvolvimento</em> utilizam as tecnologias mais modernas e conceituadas no quesito de denvolvimento de
                landing pages, obtendo paginas <em>dinamicas</em>, ágeis e com maximo de aproveitamento da <em>experiencia</em> do usuario ao
                acessar a <em>pagina</em>.
            </p>
        </div>

        <div class="workbox">
            <i class='icon-seo'></i>
            <li>Desenvolvimento de sistemas web</li>
            <p>
                <em>A representação ideal para seu negocio na web!</em>
                Durante nossas conversas e planejamentos buscamos entender o problema apontado e encontramos uma solução
                moderna para atender todas as necessidades do seu negócio, cada etapa do processo utiliza as ultimas
                tecnologias e conceitos modernos aplicados no mercado atual obtendo assim um projeto custo-benefício e
                com garantia de qualidade.
            </p>
        </div>

        <div class="workbox">
            <i class='icon-movel'></i>
            <li>Desenvolvimento de aplicativos</li>
            <p>
                Interface intuitiva e experiencia do usuário, baseados nestes conceitos nossa equipe foca em trazer
                proficiência em sua função, otimizando a experiencia de utilizar o aplicativo desenvolvido. Nossa equipe
                de desenvolvimento é focada em desenvolver aplicativos multiplataforma, Android e iOS.
            </p>
        </div>

        <div class="workbox">
            <i class='icon-terceirizacao'></i>
            <li>Outsourcing</li>
            <p>
                Com dificuldades para encontrar mão de obra especializada em TI?
                Trabalhamos em conjunto com uma equipe de profissionais em prontidão para trabalhar em busca de uma
                solução dentro da sua empresa, oferecendo o melhor trabalho em questão de planejamento, desenvolvimento
                e manutenção.
            </p>

        </div>
    </div>
</div>