.box {
    width: 100%;
    height: 100%;

    border-radius: 10px;
    -moz-box-shadow:    inset 0 0 10px #000000;
    -webkit-box-shadow: inset 0 0 10px #000000;
    box-shadow:         inset 0 0 10px #000000;
    background-color: #c5c5c5;

}

.services-wrapper{
    display:flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.workbox{
    margin: 5em;
}

.box h1 {
    padding-top: 0.5em;
    text-align: center;
    position: sticky;
    color: #000000e0; 
    font-family: 'Merriweather', serif;
    font-size: 4em;
    font-weight: 300;
    line-height: 40px; margin: 0 30px 40px;
    text-align: center;
    text-shadow: #6DD5FA -1px -1px;
}

.line {
    width: 70%;
    margin-bottom: 1px solid black;
}
